:root { 
    --azul-fondo: #8ebce6; 
}

body { 
    margin: 0; 
    background-color: var(--azul-fondo); 
    font-family: 'Arial', sans-serif; 
    display: flex; 
    justify-content: center; 
}

section { display: none; width: 100%; max-width: 450px; padding: 20px; box-sizing: border-box; }
section.active { display: block; }

.card-registro {
    background: white; border-radius: 40px; padding: 40px; text-align: center; margin-top: 50px;
}
.img-registro { width: 100%; max-width: 200px; margin-bottom: 20px; }
input { width: 100%; padding: 15px; margin: 10px 0; border: 1px solid #ddd; border-radius: 15px; box-sizing: border-box; font-size: 16px; }
.btn-principal { width: 100%; background: #4a90e2; color: white; border: none; padding: 15px; border-radius: 15px; font-weight: bold; cursor: pointer; }

.user-info { font-size: 24px; font-weight: bold; margin-bottom: 10px; color: black; }
.nav-dias { display: flex; gap: 20px; margin-bottom: 20px; }
.nav-dias button { background: none; border: none; color: #5d8ab4; font-size: 16px; font-weight: bold; cursor: pointer; }
.nav-dias button.active { color: #1a4a75; border-bottom: 3px solid #1a4a75; }

.card-blanca-grande {
    background: white; border-radius: 50px; padding: 25px 30px;
    display: flex; align-items: center; justify-content: space-between; margin-bottom: 25px;
}
.separador-negro { width: 8px; height: 85px; background: black; border-radius: 5px; }
.snoopy-contenedor img { width: 75px; height: auto; }
.reloj-seccion { font-size: 26px; font-weight: bold; }

.materia-card { background: white; border-radius: 35px; padding: 20px 25px; margin-bottom: 15px; }
.materia-header { display: flex; justify-content: space-between; align-items: center; }
.btn-tarea { background: #4a90e2; color: white; border: none; width: 40px; height: 40px; border-radius: 50%; font-size: 25px; }
.btn-flotante-add { position: fixed; bottom: 20px; right: 20px; width: 60px; height: 60px; border-radius: 50%; background: #1a4a75; color: white; border: none; font-size: 30px; }